  
  .loader {
    position:absolute;
    top:45%;
    left:45%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__item {
        padding: 30px;
        border: 10px solid #51abc8;
        box-shadow: 0 0 5px 1px white;
        border-right-color: white;
        border-radius: 50%;
        animation: rotate 1s infinite linear;
        width: 20px;
        height: 20px;
    }

    &__text {
        padding-top: 30px;
        color: #51abc8;
        font-size: 20px;
    }
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  